<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Contact</title>
    <link rel="stylesheet" href="/css/contact.css">
    <script src="https://kit.fontawesome.com/402c333479.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="head">
        <p>Furnob’s COVID-19 Updates & Shipment Delays <a href="#">Learn More</a></p>
        <ul>
            <li>
                <a href="">English <i class="fa-solid fa-angle-down"></i></a>
                <ul class="headsan1" style="background-color: white">
                    <li><a href="">English</a></li>
                    <li><a href="">Spanish</a></li>
                    <li><a href="">German</a></li>
                </ul>
            </li>
            <li>
                <a href="">USD <i class="fa-solid fa-angle-down"></i></a>
                <ul class="headsan2" style="background-color: white">
                    <li><a href="">USD</a></li>
                    <li><a href="">INR</a></li>
                    <li><a href="">GBP</a></li>
                </ul>
            </li>
            <li><a href="/account"><i class="fa-solid fa-circle-user"></i>   Account</a></li>
            <li><a href=""><i class="fa-solid fa-location-dot"></i>  Choose Location</a></li>
        </ul>
    </div>

    <div class="underbackhead">
        <div class="under1">
            <img src="img/logo.png" alt="logo" width="160px" height="40px" style="max-height: inherit">
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/shop">Shop <i class="fa-solid fa-angle-down"></i></a>
                    <ul class="under1sun">
                        <ul class="under1sun1" style="display: flex">
                            <li>
                                <h4>Shop Lists</h4>
                                <ul>
                                    <li><a href="">Shop Default</a></li>
                                    <li><a href="">Shop Right Sidebar</a></li>
                                    <li><a href="">Shop Wide</a></li>
                                    <li><a href="">Filters Area</a></li>
                                    <li><a href="">List Left Sidebar</a></li>
                                    <li><a href="">Load More Button</a></li>
                                    <li><a href="">Infinite Scrolling</a></li>
                                </ul>
                            </li>
                            <li class="likeole">
                                <h4>Product Detail</h4>
                                <ul>
                                    <li><a href="">Product Default</a></li>
                                    <li><a href="">Product Variable</a></li>
                                    <li><a href="">Product Grouped</a></li>
                                    <li><a href="">Product External</a></li>
                                    <li><a href="">Product Downloadable</a></li>
                                    <li><a href="">Product With Video</a></li>
                                    <li><a href="">Zoom Image</a></li>
                                </ul>
                            </li>
                            <li class="likeole">
                                <h4>Shop Pages</h4>
                                <ul>
                                    <li><a href="">Cart</a></li>
                                    <li><a href="">Checkout</a></li>
                                    <li><a href="">My account</a></li>
                                    <li><a href="">Wishlist</a></li>
                                    <li><a href="">Order Tracking</a></li>
                                    <li><a href="">Featued Products</a></li>
                                    <li><a href="">Best Selling Products</a></li>
                                </ul>
                            </li>
                            <li class="likeole">
                                <h4>Shop Layouts</h4>
                                <ul>
                                    <li><a href="">Two Columns</a></li>
                                    <li><a href="">Three Columns</a></li>
                                    <li><a href="">Three Columns Wide</a></li>
                                    <li><a href="">Four Columns</a></li>
                                    <li><a href="">Four Columns Wide</a></li>
                                    <li><a href="">Five Columns Wide</a></li>
                                    <li><a href="">Six Columns Wide</a></li>
                                </ul>
                            </li>
                        </ul>
                    </ul>
                </li>
                <li><a href="/livingroom">Living Room</a></li>
                <li><a href="/kitchen">Kitchen</a></li>
                <li><a href="/decoration">Decoration</a></li>
                <li><a href="/blog">Blog</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </div>
        <div class="under2">
            <ul>
                <li><a href=""><i class="fa-solid fa-magnifying-glass"></i></a></li>
                <li><a href=""><i class="fa-solid fa-heart"></i></a></li>
                <li><a href="/cart"><i class="fa-solid fa-cart-shopping"></i></a></li>
            </ul>
        </div>
    </div>

    <div class="top">
    <div class="dong" >
        <h4 class="dong1">Contact Us For Furnob Furniture</h4>
        <h1 class="dong2">How Can We Help You?</h1>
        <div class="dong3">
            <p>Let us introduce the furnob to you briefly, so you will have a better</br> understanding of our quality</p>
        </div>
    </div>


</div>
<div class="mid">
    <div style="width: 1290px;height:597px;margin-left: 115px;display: flex " >
        <div class="khoimid1">
            <div class="khoi1mid1">
                <h3>
                    Showroom & Store
                </h3>
                <div class="khoi1mid2">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    </p>
                </div>

            </div>
            <div class="khoi2mid1">
                <h5>Opening Hours</h5>
                <p>Monday - Friday : 9am - 5pm</p>
                <p>Weekend Closed</p>
            </div>
            <div style="display: flex">
                <div class="khoi3mid1">
                    <h5>
                        Address
                    </h5>
                    <p>
                        Germany — 785 15h Street,</br>
                        Office 478/B Green Mall</br>
                        Berlin, De 81566
                    </p>
                    <h5>Phone Number</h5>
                    <p> +1 1234 567 88</p>
                </div>
                <div class="khoi4mid1">
                    <h5>Showroom</h5>
                    <p>Germany — 785 15h Street,</br>
                        Office 478/B Green Mall</br>
                        Berlin, De 81566</p>
                    <h5>Email</h5>
                    <p>
                        contact@example.com
                    </p>
                </div>
            </div>


        </div>
        <div class="khoimid2">
            <div class="khoimid3">
                <h3>
                    Get in Touch
                </h3>

                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <div class="khoiten">
                    <input type="name" placeholder="Your name *">
                </div>
                <div class="khoiemail">
                    <input type="text" placeholder="Your email *">
                </div>
                <div class="khoisubject">
                    <input type="subject" placeholder="Your Subject *">
                </div>
                <div class="khoimessage">
                    <input type="message" placeholder="Your message *">
                </div>
                <div class="khoisend">
                    <a href="">
                        SEND MESSAGE
                    </a>
                </div>
            </div>



        </div>

    </div>

</div>
<div class="end">
    <div class="ptuend">
        <div class="icon1"><i class="fa-regular fa-address-card"></i></div>
        <div class="tieudeicon1">
            <h4>Free Shipping Orders $60+</h4>
            <p>A delivery service you can depend on</p>
        </div>
        <div class="icon2"><i class="fa-solid fa-phone"></i></div>
        <div class="tieudeicon2">
            <h4>Customer Support</h4>
            <p>Satisfied customers are our best ads</p>
        </div>
        <div class="icon3"><i class="fa-regular fa-id-card"></i></div>
        <div class="tieudeicon3">
            <h4>100% Secure Payments</h4>
            <p>The highest level of security</p>
        </div>
    </div>
</div>
<div class="backend1">
    <div class="khoi1backend1">
        <div class="khoinho1be1">
            <h4>Join our newsletter for £10 off</h4>
            <h3>Get our emails for info on new items, sales and more.</h3>
            <p>We'll email you a voucher worth £10 off your first order over £50.</p>
        </div>
        <div class="khoinho2be1">
            <div class="nhapinput">
                <input type="email" name="email" id="email" placeholder="Enter your email address" >
                <button type="submit"><i class="fa-solid fa-right-long"></i></button>
            </div>
            <div class="tieudekhoinho2be1">
                <p>By subscribing you agree to our</p>&nbsp;<a href>Terms & Conditions and Privacy & Cookies Policy.</a>
            </div>
        </div>
    </div>
</div>
<div class="backend2">
    <div class="khoidinhdang">
        <div class="ptu1backend2">
            <p><strong>Hours: </strong> 9.30am-6.30pm Monday to Friday</p>
        </div>
        <div class="ptu2backend2">
            <img src="img/app-store.png" width="100px" height="42px">
            <p><strong>Shopping App:</strong>Try our View in Your Room feature, manage registries and save payment info.</p>
        </div>
    </div>
</div>
<div class="backend3">
    <div class="ptuchinhbe3">
        <div class="ptu1backend3">
            <h4>Do You Need Help ?</h4>
            <p>Mollura &amp; C. SpA<br>S.S. 114 Km 6,400 98128 Tremestieri<br>Messina – Italy</p>
            <p><a href="#"><strong>info@example.com</strong></a><br>
                <a href="#"><strong>+39 0906258945</strong></a></p>
        </div>
        <div style="background-color: rgb(229, 229, 229);width: 1px;height: 165px;"></div>
        <div class="ptu2backend3">
            <div class="trongptu2be3">
                <div class="khoiptu2be3">
                    <h4>Resources</h4>
                    <ul>
                        <li><a href="">Customer Service</a></li>
                        <li><a href="">Gift Cards</a></li>
                        <li><a href="">Product Recalls</a></li>
                        <li><a href="">Accessibility Statement</a></li>
                        <li><a href="">CA Supply Chains Act</a></li>
                        <li><a href="">Cookie Settings</a></li>
                    </ul>
                </div>
                <div class="khoiptu2be3">
                    <h4>Be Inspired</h4>
                    <ul>
                        <li><a href="">Furnob Magazine</a></li>
                        <li><a href="">LookBook FR Collections</a></li>
                        <li><a href="">Inspire Me</a></li>
                        <li><a href="">Brand News</a></li>
                        <li><a href="">Browse by Designers</a></li>
                        <li><a href="">Furnob for Elle Decor</a></li>
                    </ul>
                </div>
                <div class="khoiptu2be3">
                    <h4>Our Company</h4>
                    <ul>
                        <li><a href="">About Us</a></li>
                        <li><a href="">Careers for Furnob</a></li>
                        <li><a href="">Social Responsibility</a></li>
                        <li><a href="">Store Locations and Events</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="phancuoi">
    <div class="ptuphancuoi">
        <div class="khoichinhphancuoi">
            <div class="phancuoi1">
                <img src="img/logo.png" width="144px" height="36px">
            </div>
            <div class="phancuoi2">
                <p>Copyright 2022 © Furnob WordPress Theme. All right reserved. Powered by KLBTheme.</p>
                <ul>
                    <li><a href=""><i class="fa-brands fa-cc-discover"></i></a></li>
                    <li><a href=""><i class="fa-brands fa-cc-jcb"></i></a></li>
                    <li><a href=""><i class="fa-brands fa-cc-paypal"></i></a></li>
                    <li><a href=""><i class="fa-brands fa-cc-stripe"></i></a></li>
                    <li><a href=""><i class="fa-brands fa-cc-amazon-pay"></i></a></li>
                    <li><a href=""><i class="fa-brands fa-cc-visa"></i></a></li>
                    <li><a href=""><i class="fa-brands fa-cc-apple-pay"></i></a></li>
                </ul>
            </div>
            <div class="phancuoi3">
                <ul>
                    <li><a href="">Privacy Policy</a></li> &nbsp; <div style="width: 1px;height: 13px;margin-top: 18px;background-color:  rgb(229, 229, 229)"></div>
                    <li><a href="">Terms and Conditions</a></li> &nbsp; <div style="width: 1px;height: 13px;margin-top: 18px;background-color:  rgb(229, 229, 229)"></div>
                    <li><a href="">Refund and Returns Policy</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
</body>
</html>