<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Living Room</title>
    <link rel="stylesheet" href="css/livingroom.css">
    <script src="https://kit.fontawesome.com/402c333479.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
</head>
<body>
    <div class="head">
        <p>Furnob’s COVID-19 Updates & Shipment Delays <a href="#">Learn More</a></p>
        <ul>
            <li>
                <a href="">English <i class="fa-solid fa-angle-down"></i></a>
                <ul class="headsan1" style="background-color: white">
                    <li><a href="">English</a></li>
                    <li><a href="">Spanish</a></li>
                    <li><a href="">German</a></li>
                </ul>
            </li>
            <li>
                <a href="">USD <i class="fa-solid fa-angle-down"></i></a>
                <ul class="headsan2" style="background-color: white">
                    <li><a href="">USD</a></li>
                    <li><a href="">INR</a></li>
                    <li><a href="">GBP</a></li>
                </ul>
            </li>
            <li><a href="/account"><i class="fa-solid fa-circle-user"></i>   Account</a></li>
            <li><a href=""><i class="fa-solid fa-location-dot"></i>  Choose Location</a></li>
        </ul>
    </div>

    <div class="underbackhead">
        <div class="under1">
            <img src="img/logo.png" alt="logo" width="160px" height="40px" style="max-height: inherit">
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/shop">Shop <i class="fa-solid fa-angle-down"></i></a>
                    <ul class="under1sun">
                        <ul class="under1sun1" style="display: flex">
                            <li>
                                <h4>Shop Lists</h4>
                                <ul>
                                    <li><a href="">Shop Default</a></li>
                                    <li><a href="">Shop Right Sidebar</a></li>
                                    <li><a href="">Shop Wide</a></li>
                                    <li><a href="">Filters Area</a></li>
                                    <li><a href="">List Left Sidebar</a></li>
                                    <li><a href="">Load More Button</a></li>
                                    <li><a href="">Infinite Scrolling</a></li>
                                </ul>
                            </li>
                            <li class="likeole">
                                <h4>Product Detail</h4>
                                <ul>
                                    <li><a href="">Product Default</a></li>
                                    <li><a href="">Product Variable</a></li>
                                    <li><a href="">Product Grouped</a></li>
                                    <li><a href="">Product External</a></li>
                                    <li><a href="">Product Downloadable</a></li>
                                    <li><a href="">Product With Video</a></li>
                                    <li><a href="">Zoom Image</a></li>
                                </ul>
                            </li>
                            <li class="likeole">
                                <h4>Shop Pages</h4>
                                <ul>
                                    <li><a href="">Cart</a></li>
                                    <li><a href="">Checkout</a></li>
                                    <li><a href="">My account</a></li>
                                    <li><a href="">Wishlist</a></li>
                                    <li><a href="">Order Tracking</a></li>
                                    <li><a href="">Featued Products</a></li>
                                    <li><a href="">Best Selling Products</a></li>
                                </ul>
                            </li>
                            <li class="likeole">
                                <h4>Shop Layouts</h4>
                                <ul>
                                    <li><a href="">Two Columns</a></li>
                                    <li><a href="">Three Columns</a></li>
                                    <li><a href="">Three Columns Wide</a></li>
                                    <li><a href="">Four Columns</a></li>
                                    <li><a href="">Four Columns Wide</a></li>
                                    <li><a href="">Five Columns Wide</a></li>
                                    <li><a href="">Six Columns Wide</a></li>
                                </ul>
                            </li>
                        </ul>
                    </ul>
                </li>
                <li><a href="/livingroom">Living Room</a></li>
                <li><a href="/kitchen">Kitchen</a></li>
                <li><a href="/decoration">Decoration</a></li>
                <li><a href="/blog">Blog</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </div>
        <div class="under2">
            <ul>
                <li><a href=""><i class="fa-solid fa-magnifying-glass"></i></a></li>
                <li><a href=""><i class="fa-solid fa-heart"></i></a></li>
                <li><a href=""><i class="fa-solid fa-cart-shopping"></i></a></li>
            </ul>
        </div>
    </div>
    <div class="backgroundbody">
        <h1 class="backgroundtext">Category: Living Room</h1>
    </div>
    <div class="giuabody2">
        <div class="khoilongiuabd2">
            <div class="khoichinhgiuabd2">
                <div class="khoinhogiuabd2">
                    <div class="anhkhoichinhgiuabd2">
                        <a href="/livingroom">
                            <img src="img/living-room.png" width="66px" height="66px">
                        </a>
                    </div>
                    <div class="tieudekhoichinhgiuabd2">
                        <a href="/livingroom">
                        <h5>Living Room</h5>
                        </a>
                        <p>11 items</p>
                    </div>
                </div>
                <div class="khoinhogiuabd2">
                    <div class="anhkhoichinhgiuabd2">
                        <a href="">
                            <img src="img/bedroom.png" width="66px" height="66px">
                        </a>
                    </div>
                    <div class="tieudekhoichinhgiuabd2">
                        <a href="">
                        <h5>Bedroom</h5>
                        </a>
                        <p>9 items</p>
                    </div>
                </div>
                <div class="khoinhogiuabd2">
                    <div class="anhkhoichinhgiuabd2">
                        <a href="">
                            <img src="img/desktop.png" width="66px" height="66px">
                        </a>
                    </div>
                    <div class="tieudekhoichinhgiuabd2">
                        <a href="">
                        <h5>Business Solutions</h5>
                        </a>
                        <p>1 items</p>
                    </div>
                </div>
                <div class="khoinhogiuabd2">
                    <div class="anhkhoichinhgiuabd2">
                        <a href="">
                            <img src="img/desk.png" width="66px" height="66px">
                        </a>
                    </div>
                    <div class="tieudekhoichinhgiuabd2">
                        <a href="">
                        <h5>Home Office</h5>
                        </a>
                        <p>8 items</p>
                    </div>
                </div>
                <div class="khoinhogiuabd2">
                    <div class="anhkhoichinhgiuabd2">
                        <a href="">
                            <img src="img/floor-lamp.png" width="66px" height="66px">
                        </a>
                    </div>
                    <div class="tieudekhoichinhgiuabd2">
                        <a href="">
                        <h5>Lighting</h5>
                        </a>
                        <p>5 items</p>
                    </div>
                </div>
                <div class="khoinhogiuabd2">
                    <div class="anhkhoichinhgiuabd2">
                        <a href="">
                            <img src="img/decor.png" width="66px" height="66px">
                        </a>
                    </div>
                    <div class="tieudekhoichinhgiuabd2">
                        <a href="">
                        <h5>Home Decorations</h5>
                        </a>
                        <p>15 items</p>
                    </div>
                </div>
                <div class="khoinhogiuabd2">
                    <div class="anhkhoichinhgiuabd2">
                        <a href="">
                            <img src="img/dining-room.png" width="66px" height="66px">
                        </a>
                    </div>
                    <div class="tieudekhoichinhgiuabd2">
                        <a href="">
                        <h5>Dining Room</h5>
                        </a>
                        <p>6 items</p>
                    </div>
                </div>
                <div class="khoinhogiuabd2">
                    <div class="anhkhoichinhgiuabd2">
                        <a href="">
                            <img src="img/kitchen.png" width="66px" height="66px">
                        </a>
                    </div>
                    <div class="tieudekhoichinhgiuabd2">
                        <a href="">
                        <h5>Kitchen</h5>
                        </a>
                        <p>11 items</p>
                    </div>
                </div>
                <div class="khoinhogiuabd2">
                    <div class="anhkhoichinhgiuabd2">
                        <a href="">
                            <img src="img/nursery.png" width="66px" height="66px">
                        </a>
                    </div>
                    <div class="tieudekhoichinhgiuabd2">
                        <a href="">
                        <h5>Nusery & Kids</h5>
                        </a>
                        <p>3 items</p>
                    </div>
                </div>
                <div class="khoinhogiuabd2">
                    <div class="anhkhoichinhgiuabd2">
                        <a href="">
                            <img src="img/bathroom.png" width="66px" height="66px">
                        </a>
                    </div>
                    <div class="tieudekhoichinhgiuabd2">
                        <a href="">
                        <h5>Bathroom</h5>
                        </a>
                        <p>1 items</p>
                    </div>
                </div>
                <div class="khoinhogiuabd2">
                    <div class="anhkhoichinhgiuabd2">
                        <a href="">
                            <img src="img/stairs.png" width="66px" height="66px">
                        </a>
                    </div>
                    <div class="tieudekhoichinhgiuabd2">
                        <a href="">
                        <h5>Outdoor</h5>
                        </a>
                        <p>4 items</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="category">
        <div class="grid__row">
            <div class="grid__column1">
                <div class="category-filter">
                    <h4 class="category-h1">Filter by price</h4>
                    <ul class="category-price">
                        <li>Price: $90 - $3,000</li>
                        <li><button>FILTER</button> </li>
                    </ul>
                    <div class="category-line">
                        <div class="category-line1"></div>
                        <div class="category-line2"></div>
                    </div>
                    <h4 class="category-h2">Filter by color</h4>
                    <div class="category-color">
                        <div class="category-color__black">
                            <ul>
                                <li class="color__black"><i class="bi bi-check bi-check__black"></i></li>
                                <li class="color__black-text">Black</li>
                                <li class="color__black-number">(8)</li>
                            </ul>
                        </div>
                        <div class="category-color__blue">
                            <ul>
                                <li class="color__blue"><i class="bi bi-check bi-check__blue"></i></li>
                                <li class="color__blue-text">Blue</li>
                                <li class="color__blue-number">(2)</li>
                            </ul>
                        </div>
                        <div class="category-color__brown">
                            <ul>
                                <li class="color__brown"><i class="bi bi-check bi-check__brown"></i></li>
                                <li class="color__brown-text">Brown</li>
                                <li class="color__brown-number">(7)</li>
                            </ul>
                        </div>
                        <div class="category-color__gray">
                            <ul>
                                <li class="color__gray"><i class="bi bi-check bi-check__gray"></i></li>
                                <li class="color__gray-text">Gray</li>
                                <li class="color__gray-number">(3)</li>
                            </ul>
                        </div>
                        <div class="category-color__green">
                            <ul>
                                <li class="color__green"><i class="bi bi-check bi-check__green"></i></li>
                                <li class="color__green-text">Green</li>
                                <li class="color__green-number">(3)</li>
                            </ul>
                        </div>
                        <div class="category-color__orange">
                            <ul>
                                <li class="color__orange"><i class="bi bi-check bi-check__orange"></i></li>
                                <li class="color__orange-text">Orange</li>
                                <li class="color__orange-number">(2)</li>
                            </ul>
                        </div>
                        <div class="category-color__red">
                            <ul>
                                <li class="color__red"><i class="bi bi-check bi-check__red"></i></li>
                                <li class="color__red-text">Red</li>
                                <li class="color__red-number">(4)</li>
                            </ul>
                        </div>
                    </div>
                    <div class="category-checkbrand">
                        <h4 class="category-h3">Brands</h4>
                        <div class="checkbrand checkbrand-brooklyn">
                            <input type="checkbox" id="brooklyn">
                            <label for="brooklyn">Brooklyn</label>
                            <span class="checkbrand-number__brooklyn">(4)</span>
                            <br><br>
                        </div>
                        <div class="checkbrand checkbrand-harmony">
                            <input type="checkbox" id="harmony">
                            <label for="harmony">Harmony</label>
                            <span class="checkbrand-number__harmony">(2)</span>
                            <br><br>
                        </div>
                        <div class="checkbrand checkbrand-homcom">
                            <input type="checkbox" id="homcom">
                            <label for="homcom">Homcom</label>
                            <span class="checkbrand-number__homcom">(1)</span>
                            <br><br>
                        </div>
                        <div class="checkbrand checkbrand-nashua">
                            <input type="checkbox" id="nashua">
                            <label for="nashua">Nashua</label>
                            <span class="checkbrand-number__nashua">(1)</span>
                            <br><br>
                        </div>
                        <div class="checkbrand checkbrand-vivense">
                            <input type="checkbox" id="vivense">
                            <label for="vivense">Vivense</label>
                            <span class="checkbrand-number__vivense">(2)</span>
                            <br><br>
                        </div>
                    </div>
                    <div class="category-productstatus">
                        <h4 class="category-h3">Product Status</h4>
                        <div class="category-status">
                            <input type="checkbox" id="instock">
                            <label for="instock">In Stock</label>
                            <br>
                        </div>
                        <div class="category-status">
                            <input type="checkbox" id="onsale">
                            <label for="onsale">On Sale</label>
                            <br>
                        </div>
                    </div>
                    <div class="category-banner"></div>
                </div>
            </div>
            <div class="grid__column2">
                <div class="category-sanpham">
                    <div class="category-menushow">
                        <ul>
                            <li class="menushow-text__showing">Showing all 11 results</li>
                        </ul>
                        <ul>
                            <li><i class="bi bi-grid"></i></li>
                            <li><i class="bi bi-list-ul"></i></li>
                            <li class="menushow-sub">Sort by latest<i class="bi bi-chevron-down"></i> </li>
                        </ul>
                    </div>
                    <div class="category-sanphamshow">
                        <div class="sanpham">
                            <div class="sanpham-image">
                                <a href="/sanpham1"><img src="/img/delphine1.jpg" alt=""></a>
                            </div>
                            <div class="sanpham-nameprice">
                                <div class="sanpham-name">
                                    <a href="/sanpham1">Delphine Cane Velvet Chair</a>
                                </div>
                                <h4>$249.70<del>$289.70</del></h4>
                                <div class="sanpham-addcart">
                                    <a href="/sanpham1">Add to cart</a>
                                </div>
                            </div>   
                        </div>
                        <div class="sanpham">
                            <div class="sanpham-image">
                                <a href="#"><img src="/img/chair-1.jpg" alt=""></a>
                            </div>
                            <div class="sanpham-nameprice">
                                <div class="sanpham-name">
                                    <a href="#">CH24 Wishbone Chair</a>
                                </div>
                                <h4>$331.00<del>$368.00</del></h4>
                                <div class="sanpham-addcart">
                                    <a href="">Add to cart</a>
                                </div>
                            </div>   
                        </div>
                        <div class="sanpham">
                            <div class="sanpham-image">
                                <a href="#"><img src="/img/linea1.jpg" alt=""></a>
                            </div>
                            <div class="sanpham-nameprice">
                                <div class="sanpham-name">
                                    <a href="#">Linea Sohva Sofa, Ash</a>
                                </div>
                                <h4>$5,753.00</h4>
                                <div class="sanpham-addcart">
                                    <a href="">Add to cart</a>
                                </div>
                            </div>   
                        </div>
                        <div class="sanpham">
                            <div class="sanpham-image">
                                <a href="#"><img src="/img/pr-1.jpg" alt=""></a>
                            </div>
                            <div class="sanpham-nameprice">
                                <div class="sanpham-name">
                                    <a href="#">Around Coffee Table</a>
                                </div>
                                <h4>$639.00<del>$689.00</del></h4>
                                <div class="sanpham-addcart">
                                    <a href="">Add to cart</a>
                                </div>
                            </div>   
                        </div>
                        <div class="sanpham">
                            <div class="sanpham-image">
                                <a href="#"><img src="/img/table1.jpg" alt=""></a>
                            </div>
                            <div class="sanpham-nameprice">
                                <div class="sanpham-name">
                                    <a href="#">Baptisia Square Coffee Table</a>
                                </div>
                                <h4>$449.00</h4>
                                <div class="sanpham-addcart">
                                    <a href="">Add to cart</a>
                                </div>
                            </div>   
                        </div>
                        <div class="sanpham">
                            <div class="sanpham-image">
                                <a href="#"><img src="/img/narin1.jpg" alt=""></a>
                            </div>
                            <div class="sanpham-nameprice">
                                <div class="sanpham-name">
                                    <a href="#">Narin Folding Chair</a>
                                </div>
                                <h4>$295.00</h4>
                                <div class="sanpham-addcart">
                                    <a href="">Add to cart</a>
                                </div>
                            </div>   
                        </div>
                        <div class="sanpham">
                            <div class="sanpham-image">
                                <a href="#"><img src="/img/tayen1.jpg" alt=""></a>
                            </div>
                            <div class="sanpham-nameprice">
                                <div class="sanpham-name">
                                    <a href="#">Tayen Side Table</a>
                                </div>
                                <h4>$339.00<del>$393.00</del></h4>
                                <div class="sanpham-addcart">
                                    <a href="">Add to cart</a>
                                </div>
                            </div>   
                        </div>
                        <div class="sanpham">
                            <div class="sanpham-image">
                                <a href="#"><img src="/img/sharma1.jpg" alt=""></a>
                            </div>
                            <div class="sanpham-nameprice">
                                <div class="sanpham-name">
                                    <a href="#">Sharma – Coffee Table</a>
                                </div>
                                <h4>$99.00<del>$139.00</del></h4>
                                <div class="sanpham-addcart">
                                    <a href="">Add to cart</a>
                                </div>
                            </div>   
                        </div>
                        <div class="sanpham">
                            <div class="sanpham-image">
                                <a href="#"><img src="/img/april1.jpg" alt=""></a>
                            </div>
                            <div class="sanpham-nameprice">
                                <div class="sanpham-name">
                                    <a href="#">Nikari April Table Low</a>
                                </div>
                                <h4>$849.00<del>$949.00</del></h4>
                                <div class="sanpham-addcart">
                                    <a href="">Add to cart</a>
                                </div>
                            </div>   
                        </div>
    </div>      
    </div>
    </div>
    <div class="end">
        <div class="ptuend">
            <div class="icon1"><i class="fa-regular fa-address-card"></i></div>
            <div class="tieudeicon1">
                <h4>Free Shipping Orders $60+</h4>
                <p>A delivery service you can depend on</p>
            </div>
            <div class="icon2"><i class="fa-solid fa-phone"></i></div>
            <div class="tieudeicon2">
                <h4>Customer Support</h4>
                <p>Satisfied customers are our best ads</p>
            </div>
            <div class="icon3"><i class="fa-regular fa-id-card"></i></div>
            <div class="tieudeicon3">
                <h4>100% Secure Payments</h4>
                <p>The highest level of security</p>
            </div>
        </div>
    </div>
    <div class="backend1">
        <div class="khoi1backend1">
            <div class="khoinho1be1">
                <h4>Join our newsletter for £10 off</h4>
                <h3>Get our emails for info on new items, sales and more.</h3>
                <p>We'll email you a voucher worth £10 off your first order over £50.</p>
            </div>
            <div class="khoinho2be1">
                <div class="nhapinput">
                    <input type="email" name="email" id="email" placeholder="Enter your email address" >
                    <button type="submit"><i class="fa-solid fa-right-long"></i></button>
                </div>
                <div class="tieudekhoinho2be1">
                    <p>By subscribing you agree to our</p>&nbsp;<a href>Terms & Conditions and Privacy & Cookies Policy.</a>
                </div>
            </div>
        </div>
    </div>
    <div class="backend2">
        <div class="khoidinhdang">
            <div class="ptu1backend2">
                <p><strong>Hours: </strong> 9.30am-6.30pm Monday to Friday</p>
            </div>
            <div class="ptu2backend2">
                <img src="img/app-store.png" width="100px" height="42px">
                <p><strong>Shopping App:</strong>Try our View in Your Room feature, manage registries and save payment info.</p>
            </div>
        </div>
    </div>
    <div class="backend3">
        <div class="ptuchinhbe3">
            <div class="ptu1backend3">
                <h4>Do You Need Help ?</h4>
                <p>Mollura &amp; C. SpA<br>S.S. 114 Km 6,400 98128 Tremestieri<br>Messina – Italy</p>
                <p><a href="#"><strong>info@example.com</strong></a><br>
                    <a href="#"><strong>+39 0906258945</strong></a></p>
            </div>
            <div style="background-color: rgb(229, 229, 229);width: 1px;height: 165px;"></div>
            <div class="ptu2backend3">
                <div class="trongptu2be3">
                    <div class="khoiptu2be3">
                        <h4>Resources</h4>
                        <ul>
                            <li><a href="">Customer Service</a></li>
                            <li><a href="">Gift Cards</a></li>
                            <li><a href="">Product Recalls</a></li>
                            <li><a href="">Accessibility Statement</a></li>
                            <li><a href="">CA Supply Chains Act</a></li>
                            <li><a href="">Cookie Settings</a></li>
                        </ul>
                    </div>
                    <div class="khoiptu2be3">
                        <h4>Be Inspired</h4>
                        <ul>
                            <li><a href="">Furnob Magazine</a></li>
                            <li><a href="">LookBook FR Collections</a></li>
                            <li><a href="">Inspire Me</a></li>
                            <li><a href="">Brand News</a></li>
                            <li><a href="">Browse by Designers</a></li>
                            <li><a href="">Furnob for Elle Decor</a></li>
                        </ul>
                    </div>
                    <div class="khoiptu2be3">
                        <h4>Our Company</h4>
                        <ul>
                            <li><a href="">About Us</a></li>
                            <li><a href="">Careers for Furnob</a></li>
                            <li><a href="">Social Responsibility</a></li>
                            <li><a href="">Store Locations and Events</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="phancuoi">
        <div class="ptuphancuoi">
            <div class="khoichinhphancuoi">
                <div class="phancuoi1">
                    <img src="img/logo.png" width="144px" height="36px">
                </div>
                <div class="phancuoi2">
                    <p>Copyright 2022 © Furnob WordPress Theme. All right reserved. Powered by KLBTheme.</p>
                    <ul>
                        <li><a href=""><i class="fa-brands fa-cc-discover"></i></a></li>
                        <li><a href=""><i class="fa-brands fa-cc-jcb"></i></a></li>
                        <li><a href=""><i class="fa-brands fa-cc-paypal"></i></a></li>
                        <li><a href=""><i class="fa-brands fa-cc-stripe"></i></a></li>
                        <li><a href=""><i class="fa-brands fa-cc-amazon-pay"></i></a></li>
                        <li><a href=""><i class="fa-brands fa-cc-visa"></i></a></li>
                        <li><a href=""><i class="fa-brands fa-cc-apple-pay"></i></a></li>
                    </ul>
                </div>
                <div class="phancuoi3">
                    <ul>
                        <li><a href="">Privacy Policy</a></li> &nbsp; <div style="width: 1px;height: 13px;margin-top: 18px;background-color:  rgb(229, 229, 229)"></div>
                        <li><a href="">Terms and Conditions</a></li> &nbsp; <div style="width: 1px;height: 13px;margin-top: 18px;background-color:  rgb(229, 229, 229)"></div>
                        <li><a href="">Refund and Returns Policy</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>  
</body>
</html>