<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sản phẩm 1</title>
    <link rel="stylesheet" href="/css/sanpham1.css">
    <script src="js/jquery-2.1.1.min.js"></script>
    <script src="https://kit.fontawesome.com/402c333479.js" crossorigin="anonymous"></script>
</head>
<body>
<div class="head">
    <p>Furnob’s COVID-19 Updates & Shipment Delays <a href="#">Learn More</a></p>
    <ul>
        <li>
            <a href="">English <i class="fa-solid fa-angle-down"></i></a>
            <ul class="headsan1" style="background-color: white">
                <li><a href="">English</a></li>
                <li><a href="">Spanish</a></li>
                <li><a href="">German</a></li>
            </ul>
        </li>
        <li>
            <a href="">USD <i class="fa-solid fa-angle-down"></i></a>
            <ul class="headsan2" style="background-color: white">
                <li><a href="">USD</a></li>
                <li><a href="">INR</a></li>
                <li><a href="">GBP</a></li>
            </ul>
        </li>
        <li><a href=""><i class="fa-solid fa-circle-user"></i>   Account</a></li>
        <li><a href=""><i class="fa-solid fa-location-dot"></i>  Choose Location</a></li>
    </ul>
</div>

<div class="underbackhead">
    <div class="under1">
        <img src="img/logo.png" alt="logo" width="160px" height="40px" style="max-height: inherit">
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/shop">Shop <i class="fa-solid fa-angle-down"></i></a>
                <ul class="under1sun">
                    <ul class="under1sun1" style="display: flex">
                        <li>
                            <h4>Shop Lists</h4>
                            <ul>
                                <li><a href="">Shop Default</a></li>
                                <li><a href="">Shop Right Sidebar</a></li>
                                <li><a href="">Shop Wide</a></li>
                                <li><a href="">Filters Area</a></li>
                                <li><a href="">List Left Sidebar</a></li>
                                <li><a href="">Load More Button</a></li>
                                <li><a href="">Infinite Scrolling</a></li>
                            </ul>
                        </li>
                        <li class="likeole">
                            <h4>Product Detail</h4>
                            <ul>
                                <li><a href="">Product Default</a></li>
                                <li><a href="">Product Variable</a></li>
                                <li><a href="">Product Grouped</a></li>
                                <li><a href="">Product External</a></li>
                                <li><a href="">Product Downloadable</a></li>
                                <li><a href="">Product With Video</a></li>
                                <li><a href="">Zoom Image</a></li>
                            </ul>
                        </li>
                        <li class="likeole">
                            <h4>Shop Pages</h4>
                            <ul>
                                <li><a href="">Cart</a></li>
                                <li><a href="">Checkout</a></li>
                                <li><a href="">My account</a></li>
                                <li><a href="">Wishlist</a></li>
                                <li><a href="">Order Tracking</a></li>
                                <li><a href="">Featued Products</a></li>
                                <li><a href="">Best Selling Products</a></li>
                            </ul>
                        </li>
                        <li class="likeole">
                            <h4>Shop Layouts</h4>
                            <ul>
                                <li><a href="">Two Columns</a></li>
                                <li><a href="">Three Columns</a></li>
                                <li><a href="">Three Columns Wide</a></li>
                                <li><a href="">Four Columns</a></li>
                                <li><a href="">Four Columns Wide</a></li>
                                <li><a href="">Five Columns Wide</a></li>
                                <li><a href="">Six Columns Wide</a></li>
                            </ul>
                        </li>
                    </ul>
                </ul>
            </li>
            <li><a href="/livingroom">Living Room</a></li>
            <li><a href="/kitchen">Kitchen</a></li>
            <li><a href="/decoration">Decoration</a></li>
            <li><a href="/blog">Blog</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </div>
    <div class="under2">
        <ul>
            <li><a href=""><i class="fa-solid fa-magnifying-glass"></i></a></li>
            <li><a href=""><i class="fa-solid fa-heart"></i></a></li>
            <li><a href=""><i class="fa-solid fa-cart-shopping"></i></a></li>
        </ul>
    </div>
</div>
<div class="khoisanpham">
    <div class="imgsanpham">
        <img src="img/delphine1.jpg" width="618px" height="704px">
    </div>
    <div class="thongtinsanpham">
        <h1>Delphine Cane Velvet Accent Chair</h1>
        <div class="thongtinchitiet">
            <h5><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i></h5>
            <div class="instock"><h4><i class="fa-solid fa-circle"></i> &nbsp; In Stock</h4></div>
        </div>
        <p>Lorem ipsum dolor sit amet, feugiat delicata liberavisse id cum, no quo maiorum intellegebat, liber regione eu sit. Mea cu case ludus integre, vide viderer eleifend ex mea. His at soluta regione diceret, cum et atqui placerat petentium.</p>
        <div class="giavasoluong">
            <div class="gia">
                <h1>$249.70<del>$289.70</del></h1>
            </div>
            <div class="soluongvaaddtocart">
                <div class="buttons_added">
                    <input class="minus is-form" type="button" value="-">
                    <input aria-label="quantity" class="input-qty" max="10" min="1" name="" type="number" value="1">
                    <input class="plus is-form" type="button" value="+">
                </div>
                <script>
                    $('input.input-qty').each(function() {
                        var $this = $(this),
                            qty = $this.parent().find('.is-form'),
                            min = Number($this.attr('min')),
                            max = Number($this.attr('max'))
                        if (min == 0) {
                            var d = 0
                        } else d = min
                        $(qty).on('click', function() {
                            if ($(this).hasClass('minus')) {
                                if (d > min) d += -1
                            } else if ($(this).hasClass('plus')) {
                                var x = Number($this.val()) + 1
                                if (x <= max) d += 1
                            }
                            $this.attr('value', d).val(d)
                        })
                    })
                </script>
                <a href="">Add to cart</a>
            </div>
        </div>
        <div class="masanpham">
            <p>SKU: <b>BE45VGRT</b></p>
            <p>Tags: <b>envato, sofa</b></p>
        </div>
        <div class="iconsanpham">
            <div class="iconfb" >
                <a href="" style="color: blue"><i class="fa-brands fa-facebook"></i></a>
            </div>
            <div class="iconfb">
                <a href="" style="color: deepskyblue"><i class="fa-brands fa-twitter"></i></a>
            </div>
            <div class="iconfb">
                <a href="" style="color: indianred"><i class="fa-brands fa-pinterest"></i></a>
            </div>
            <div class="iconfb">
                <a href="" style="color: lightskyblue"><i class="fa-brands fa-invision"></i></a>
            </div>
            <div class="iconfb">
                <a href="" style="color: greenyellow"><i class="fa-solid fa-square-phone-flip"></i></a>
            </div>
        </div>
    </div>
</div>

<div class="desscription">
    <h1>Description</h1>
</div>
<div class="khoidesscription">
    <p>Quisque varius diam vel metus mattis, id aliquam diam rhoncus. Proin vitae magna in dui finibus malesuada et at nulla. Morbi elit ex, viverra vitae ante vel, blandit feugiat ligula. Fusce fermentum iaculis nibh, at sodales leo maximus a. Nullam ultricies sodales nunc, in pellentesque lorem mattis quis. Cras imperdiet est in nunc tristique lacinia. Nullam aliquam mauris eu accumsan tincidunt. Suspendisse velit ex, aliquet vel ornare vel, dignissim a tortor.</br>
        </br>

        Morbi ut sapien vitae odio accumsan gravida. Morbi vitae erat auctor, eleifend nunc a, lobortis neque. Praesent aliquam dignissim viverra. Maecenas lacus odio, feugiat eu nunc sit amet, maximus sagittis dolor. Vivamus nisi sapien, elementum sit amet eros sit amet, ultricies cursus ipsum. Sed consequat luctus ligula. Curabitur laoreet rhoncus blandit. Aenean vel diam ut arcu pharetra dignissim ut sed leo. Vivamus faucibus, ipsum in vestibulum vulputate, lorem orci convallis quam, sit amet consequat nulla felis pharetra lacus. Duis semper erat mauris, sed egestas purus commodo vel.</p>
</div>
<div class="Relatedproducts">
    <h1>Related products</h1>
</div>
<div class="giuabody4">
    <div class="dongsanpham1">
        <div class="sanphamgiuabd4">
            <div class="anhsanpham">
                <a href=""><img src="img/pr-1.jpg"></a>
            </div>
            <div class="tengiasanphamgiuabd4">
                <div class="tengiasanphamgiuabd4ten">
                    <a href="">Around Coffee Table</a>
                </div>
                <h4>$639.00 <del>$689.00</del></h4>
                <a href="">Add to cart</a>
            </div>
        </div>
        <div class="sanphamgiuabd4">
            <div class="anhsanpham">
                <a href=""><img src="img/collar1.jpg"></a>
            </div>
            <div class="tengiasanphamgiuabd4">
                <div class="tengiasanphamgiuabd4ten">
                    <a href="">Vitra – Eames Plastic Side Chair</a>
                </div>
                <h4>$339.00 <del>$393.00</del></h4>
                <a href="">Add to cart</a>
            </div>
        </div>
        <div class="sanphamgiuabd4">
            <div class="anhsanpham">
                <a href=""><img src="img/april1.jpg"></a>
            </div>
            <div class="tengiasanphamgiuabd4">
                <div class="tengiasanphamgiuabd4ten">
                    <a href="">Nikari April Table Low</a>
                </div>
                <h4>$849.00 <del>$949.00</del></h4>
                <a href="">Add to cart</a>
            </div>
        </div>
        <div class="sanphamgiuabd4">
            <div class="anhsanpham">
                <a href=""><img src="img/linea1.jpg"></a>
            </div>
            <div class="tengiasanphamgiuabd4">
                <div class="tengiasanphamgiuabd4ten">
                    <a href="">Linea Sohva Sofa, Ash</a>
                </div>
                <h4>$5,753.00 <del>$5,893.00</del></h4>
                <a href="">Add to cart</a>
            </div>
        </div>
    </div>
</div>
<div class="RecentlyViewedProducts">
    <h1>Recently Viewed Products</h1>
</div>
<div class="giuabody4">
    <div class="dongsanpham1">
        <div class="sanphamgiuabd4">
            <div class="anhsanpham">
                <a href=""><img src="img/theo1.jpg"></a>
            </div>
            <div class="tengiasanphamgiuabd4">
                <div class="tengiasanphamgiuabd4ten">
                    <a href="">Theo Sugar Bowl</a>
                </div>
                <h4>$37.00 <del></del></h4>
                <a href="">Add to cart</a>
            </div>
        </div>
        <div class="sanphamgiuabd4">
            <div class="anhsanpham">
                <a href=""><img src="img/collar1.jpg"></a>
            </div>
            <div class="tengiasanphamgiuabd4">
                <div class="tengiasanphamgiuabd4ten">
                    <a href="">Collar Milk Jug</a>
                </div>
                <h4>$49.00 <del>$89.00</del></h4>
                <a href="">Add to cart</a>
            </div>
        </div>
        <div class="sanphamgiuabd4">
            <div class="anhsanpham">
                <a href=""><img src="img/press1.jpg"></a>
            </div>
            <div class="tengiasanphamgiuabd4">
                <div class="tengiasanphamgiuabd4ten">
                    <a href="">Clara French Press</a>
                </div>
                <h4>$159.00 <del>$189.00</del></h4>
                <a href="">Add to cart</a>
            </div>
        </div>
    </div>
</div>




<div class="end">
    <div class="ptuend">
        <div class="icon1"><i class="fa-regular fa-address-card"></i></div>
        <div class="tieudeicon1">
            <h4>Free Shipping Orders $60+</h4>
            <p>A delivery service you can depend on</p>
        </div>
        <div class="icon2"><i class="fa-solid fa-phone"></i></div>
        <div class="tieudeicon2">
            <h4>Customer Support</h4>
            <p>Satisfied customers are our best ads</p>
        </div>
        <div class="icon3"><i class="fa-regular fa-id-card"></i></div>
        <div class="tieudeicon3">
            <h4>100% Secure Payments</h4>
            <p>The highest level of security</p>
        </div>
    </div>
</div>
<div class="backend1">
    <div class="khoi1backend1">
        <div class="khoinho1be1">
            <h4>Join our newsletter for £10 off</h4>
            <h3>Get our emails for info on new items, sales and more.</h3>
            <p>We'll email you a voucher worth £10 off your first order over £50.</p>
        </div>
        <div class="khoinho2be1">
            <div class="nhapinput">
                <input type="email" name="email" id="email" placeholder="Enter your email address" >
                <button type="submit"><i class="fa-solid fa-right-long"></i></button>
            </div>
            <div class="tieudekhoinho2be1">
                <p>By subscribing you agree to our</p>&nbsp;<a href>Terms & Conditions and Privacy & Cookies Policy.</a>
            </div>
        </div>
    </div>
</div>
<div class="backend2">
    <div class="khoidinhdang">
        <div class="ptu1backend2">
            <p><strong>Hours: </strong> 9.30am-6.30pm Monday to Friday</p>
        </div>
        <div class="ptu2backend2">
            <img src="img/app-store.png" width="100px" height="42px">
            <p><strong>Shopping App:</strong>Try our View in Your Room feature, manage registries and save payment info.</p>
        </div>
    </div>
</div>
<div class="backend3">
    <div class="ptuchinhbe3">
        <div class="ptu1backend3">
            <h4>Do You Need Help ?</h4>
            <p>Mollura &amp; C. SpA<br>S.S. 114 Km 6,400 98128 Tremestieri<br>Messina – Italy</p>
            <p><a href="#"><strong>info@example.com</strong></a><br>
                <a href="#"><strong>+39 0906258945</strong></a></p>
        </div>
        <div style="background-color: rgb(229, 229, 229);width: 1px;height: 165px;"></div>
        <div class="ptu2backend3">
            <div class="trongptu2be3">
                <div class="khoiptu2be3">
                    <h4>Resources</h4>
                    <ul>
                        <li><a href="">Customer Service</a></li>
                        <li><a href="">Gift Cards</a></li>
                        <li><a href="">Product Recalls</a></li>
                        <li><a href="">Accessibility Statement</a></li>
                        <li><a href="">CA Supply Chains Act</a></li>
                        <li><a href="">Cookie Settings</a></li>
                    </ul>
                </div>
                <div class="khoiptu2be3">
                    <h4>Be Inspired</h4>
                    <ul>
                        <li><a href="">Furnob Magazine</a></li>
                        <li><a href="">LookBook FR Collections</a></li>
                        <li><a href="">Inspire Me</a></li>
                        <li><a href="">Brand News</a></li>
                        <li><a href="">Browse by Designers</a></li>
                        <li><a href="">Furnob for Elle Decor</a></li>
                    </ul>
                </div>
                <div class="khoiptu2be3">
                    <h4>Our Company</h4>
                    <ul>
                        <li><a href="">About Us</a></li>
                        <li><a href="">Careers for Furnob</a></li>
                        <li><a href="">Social Responsibility</a></li>
                        <li><a href="">Store Locations and Events</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="phancuoi">
    <div class="ptuphancuoi">
        <div class="khoichinhphancuoi">
            <div class="phancuoi1">
                <img src="img/logo.png" width="144px" height="36px">
            </div>
            <div class="phancuoi2">
                <p>Copyright 2022 © Furnob WordPress Theme. All right reserved. Powered by KLBTheme.</p>
                <ul>
                    <li><a href=""><i class="fa-brands fa-cc-discover"></i></a></li>
                    <li><a href=""><i class="fa-brands fa-cc-jcb"></i></a></li>
                    <li><a href=""><i class="fa-brands fa-cc-paypal"></i></a></li>
                    <li><a href=""><i class="fa-brands fa-cc-stripe"></i></a></li>
                    <li><a href=""><i class="fa-brands fa-cc-amazon-pay"></i></a></li>
                    <li><a href=""><i class="fa-brands fa-cc-visa"></i></a></li>
                    <li><a href=""><i class="fa-brands fa-cc-apple-pay"></i></a></li>
                </ul>
            </div>
            <div class="phancuoi3">
                <ul>
                    <li><a href="">Privacy Policy</a></li> &nbsp; <div style="width: 1px;height: 13px;margin-top: 18px;background-color:  rgb(229, 229, 229)"></div>
                    <li><a href="">Terms and Conditions</a></li> &nbsp; <div style="width: 1px;height: 13px;margin-top: 18px;background-color:  rgb(229, 229, 229)"></div>
                    <li><a href="">Refund and Returns Policy</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
</body>
</html>