.lostpassword-form {
    margin-left: 135px;
    margin-top: 20px;
}

.lostpassword-message {
    margin-left: 135px;
    margin-top: 50px;
}

.usernameinput {
    width: 1250px;
    height: 30px;
    border: 1px solid #bfbfbf;
    margin-top: 7px;
    margin-bottom: 15px;
}

.lostpassword-form label {
    margin-bottom: 5px;
}

.resetsubmit {
    width: 135px;
    height: 42px;
    background-color: #eb7700;
    border: none;
    color: #fff;
    font-weight: 600;
    font-size: 14px;
}