*{
    margin:0px;
    padding: 0px;
    font-family: Jost, sans-serif;
}

.head{
    height: 42px;
    width: 1500PX;
    font-size: 13px;
    line-height: 42px;
    display: flex;
}

.head p{
    margin: 0px 130px;
    font-weight: bolder;
}
.head p a{
    color: orangered;
}

.head>ul{
    margin: 0px 0px 0px 370px;
    display: flex;
    text-decoration: none;
    list-style: none;
}

.head>ul>li{
    margin-right: 40px;
}

.head ul li a{
    text-decoration-line: none;
    color:black;
    height: 100%;
}

.headsan1{
    display: none;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    min-width: 240px;
    position: absolute;
    top:40px;
    left: 980px;
    line-height: 46px;
}

.headsan1>ul{
    width: 500px;
}

.headsan1>li{
    list-style: none;
    color: black;
     margin-left: 20px;
}

.head li:hover .headsan1{
    color: black;
    display: block;
}

.headsan2{
    display: none;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    min-width: 240px;
    position: absolute;
    top:40px;
    left:1075px;
}

.headsan2>ul{
    width: 500px;
}

.headsan2>li{
    list-style: none;
    color: black;
    margin-left: 20px;
}

.head li:hover .headsan2{
    color: black;
    display: block;
}

.underbackhead{
    height: 90px;
    width: 100%;
    line-height: 90px;
    display: flex;
}

.under1{
    height: 100%;
    width: 913px;
    line-height: 90px;
    display: flex;
    margin-left: 125px;
    padding: 0px 12px;
}

.under1 img{
    margin: 28px 0px;
}

.under1>ul {
    display: flex;
}

.under1 ul li {
    list-style: none;
    margin-left:40px;
}

.under1 ul li a{
    text-decoration: none;
    color: black;
    font-weight: 550;
    font-size: 15px;
}

.under1 .under1sun {
    position: absolute;
    background-color: #fff;
    font-size: 15px;
    display: none;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.under1 .under1sun{
    height: 319px;
    width: 1260px;
    margin: 0;
    padding: 20px;
    top: auto;
    left: 120px;
    line-height: 40px;
}

.under1 .under1sun li{
    height:40px;
}

.under1 .under1sun li a{
    font-size: 14px;
    font-family: sans-serif;
    font-weight: 100;
}

.under1 li:hover .under1sun{
    display: block;
}

.under1sun1>li>h4{
    color: rgb(235, 119, 0);
    font-size: 15px;
    margin-left: 40px;
    margin-bottom: 10px;
}

.under1sun1>.likeole{
    margin-left: 140px;
}

.under2{
    margin-left: 200px;
    height: 100%;
}

.under2 ul{
    display: flex;
}

.under2 ul li{
    list-style: none;
    margin-right: 25px;
}

.under2 ul li a {
    height: 22px;
    width: 24px;
    font-size: 20px;
    color: black;
}

.backgroundbody {
    background-image: url(/img/shop-header.jpg);
    height: 360px;
}

.backgroundtext {
    color: #fff;
    position: absolute;
    font-size: 65px;
    left: 650px;
    top: 260px;
}

.giuabody2{
    margin-top:35px;
    height: 168px;
    width: 100%;
    margin-bottom: 80px;
}

.khoilongiuabd2{
    margin-left: 115px;
    width: 1290px;
    height: 168px;
}

.khoichinhgiuabd2 {
    height: 138px;
    width: 1260px;
    padding: 15px;
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
}

.giuabody2 .khoilongiuabd2 .khoichinhgiuabd2 .khoinhogiuabd2 {
    width: 185px;
    height: 138px;
    margin-right: 30px;
    text-align: center;
}

.giuabody2 .khoilongiuabd2 .khoichinhgiuabd2 .khoinhogiuabd2 .anhkhoichinhgiuabd2{
    width: 185px;
    height: 99px;
    margin-bottom: 5px;
}

.giuabody2 .khoilongiuabd2 .khoichinhgiuabd2 .khoinhogiuabd2 .anhkhoichinhgiuabd2 img{
    height: 66px;
    width: 66px;
}

.giuabody2 .khoilongiuabd2 .khoichinhgiuabd2 .khoinhogiuabd2 .tieudekhoichinhgiuabd2 a{
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    margin-bottom: 5px;
}

.giuabody2 .khoilongiuabd2 .khoichinhgiuabd2 .khoinhogiuabd2 .tieudekhoichinhgiuabd2 p{
    font-size: 12px;
    line-height: 18px;
    color: rgb(138, 139, 142);
}

.grid__row {
    display: flex;
    flex-wrap: wrap;
}

.grid__column1 {
    padding-left: 137px;
    width: 16.8%;
    padding-right: 30px;
    height: 1500px;
}

.grid__column2 {
    padding-right: 60px;
    padding-left: 20px;
    width: 63%;
    height: 1500px;
}

.category-h1 {
    margin-bottom: 20px;
}

.category-price li {
    display: inline-block;
    font-size: 13px;
}

.category-price li button {
    background-color: #f2f3f5;
    border: none;
    font-size: 10px;
    width: 70px;
    height: 30px;
    font-weight: 600;
    margin-left: 70px;
    cursor: pointer;
}

.category-line {
    margin-top: 25px;
}

.category-line2 {
    height: 2px;
    width: 255px;
    background: #eeeeee;
}

.category-line1 {
    position: absolute;
    height: 2px;
    width: 145px;
    background: #0070dc;
}

.category-line1:before {
    position: absolute;
    content: '';
    display: block;
    height: 10px;
    width: 10px;
    background: #0070dc;
    border-radius: 50%;
    right: -2px;
    top: -5px;
}

.category-line1:after {
    position: absolute;
    content: '';
    display: block;
    height: 10px;
    width: 10px;
    background: #0070dc;
    border-radius: 50%;
    left: -2px;
    top: -5px;
}

.category-h2 {
    margin-top: 30px;
}

.category-colortext {
    list-style: none;
    margin-top: 22px;
    display: inline-block;
}

.category-color {
    margin-top: 25px;
}

.category-color li {
    margin: 6px 0;
}

.category-color__black ul li {
    display: inline-block;
}

.category-color__black ul {
    list-style: none;
}

.color__black {
    background-color: #000;
    width: 20px;
    height: 20px;
    border: solid #000;
    border-radius: 100%;
}

.color__black-text {
    position: absolute;
    left: 170px;
    line-height: 25px;
}

.color__black-number {
    position: absolute;
    left: 373px;
    line-height: 25px;
    color: #bfbfbf;
}

.category-color__blue ul li {
    display: inline-block;
}

.category-color__blue ul {
    list-style: none;
}

.color__blue {
    background-color: #1e73be;
    width: 20px;
    height: 20px;
    border: solid #1e73be;
    border-radius: 100%;
}

.color__blue-text {
    position: absolute;
    left: 170px;
    line-height: 25px;
}

.color__blue-number {
    position: absolute;
    left: 373px;
    line-height: 25px;
    color: #bfbfbf;
}

.category-color__brown ul li {
    display: inline-block;
}

.category-color__brown ul {
    list-style: none;
}

.color__brown {
    background-color: #49271d;
    width: 20px;
    height: 20px;
    border: solid #49271d;
    border-radius: 100%;
}

.color__brown-text {
    position: absolute;
    left: 170px;
    line-height: 25px;
}

.color__brown-number {
    position: absolute;
    left: 373px;
    line-height: 25px;
    color: #bfbfbf;
}

.category-color__gray ul li {
    display: inline-block;
}

.category-color__gray ul {
    list-style: none;
}

.color__gray {
    background-color: #bfbfbf;
    width: 20px;
    height: 20px;
    border: solid #bfbfbf;
    border-radius: 100%;
}

.color__gray-text {
    position: absolute;
    left: 170px;
    line-height: 25px;
}

.color__gray-number {
    position: absolute;
    left: 373px;
    line-height: 25px;
    color: #bfbfbf;
}

.category-color__green ul li {
    display: inline-block;
}

.category-color__green ul {
    list-style: none;
}

.color__green {
    background-color: #50b948;
    width: 20px;
    height: 20px;
    border: solid #50b948;
    border-radius: 100%;
}

.color__green-text {
    position: absolute;
    left: 170px;
    line-height: 25px;
}

.color__green-number {
    position: absolute;
    left: 373px;
    line-height: 25px;
    color: #bfbfbf;
}

.category-color__orange ul li {
    display: inline-block;
}

.category-color__orange ul {
    list-style: none;
}

.color__orange {
    background-color: #ff7900;
    width: 20px;
    height: 20px;
    border: solid #ff7900;
    border-radius: 100%;
}

.color__orange-text {
    position: absolute;
    left: 170px;
    line-height: 25px;
}

.color__orange-number {
    position: absolute;
    left: 373px;
    line-height: 25px;
    color: #bfbfbf;
}

.category-color__red ul li {
    display: inline-block;
}

.category-color__red ul {
    list-style: none;
}

.color__red {
    background-color: #cb2028;
    width: 20px;
    height: 20px;
    border: solid #cb2028;
    border-radius: 100%;
}

.color__red-text {
    position: absolute;
    left: 170px;
    line-height: 25px;
}

.color__red-number {
    position: absolute;
    left: 373px;
    line-height: 25px;
    color: #bfbfbf;
}

.category-h3 {
    margin: 50px 0 25px 0;
}

.checkbrand label {
    cursor: pointer;
    display: flex;
}

.checkbrand input[type='checkbox'] {
    cursor: pointer;
    opacity: 0;
    position: absolute;
}

.checkbrand label::before {
    content: '';
    width: 15px;
    height: 15px;
    border-radius: 15%;
    margin-right: 14px;
    border: 1px solid #000;
}

.checkbrand label:hover::before {
    background-color: #e5e3e3;
}

.checkbrand input[type='checkbox']:checked + label::before {
    content: '\002714';
    background-color: #eb7700;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.checkbrand-brooklyn {
    display: flex;
    justify-content: space-between;
}

.checkbrand-number__brooklyn {
    position: absolute;
    color: #bfbfbf;
    left: 373px;
}

.checkbrand-harmony {
    display: flex;
    justify-content: space-between;
}

.checkbrand-number__harmony {
    position: absolute;
    color: #bfbfbf;
    left: 373px;
}

.checkbrand-homcom {
    display: flex;
    justify-content: space-between;
}

.checkbrand-number__homcom {
    position: absolute;
    color: #bfbfbf;
    left: 373px;
}

.checkbrand-nashua {
    display: flex;
    justify-content: space-between;
}

.checkbrand-number__nashua {
    position: absolute;
    color: #bfbfbf;
    left: 373px;
}

.checkbrand-vivense {
    display: flex;
    justify-content: space-between;
}

.checkbrand-number__vivense {
    position: absolute;
    color: #bfbfbf;
    left: 373px;
}

.category-status label {
    cursor: pointer;
    display: flex;
}

.category-status input[type='checkbox'] {
    cursor: pointer;
    opacity: 0;
    position: absolute;
}

.category-status label::before {
    content: '';
    width: 15px;
    height: 15px;
    border-radius: 15%;
    margin-right: 14px;
    border: 1px solid #000;
}

.category-status label:hover::before {
    background-color: #e5e3e3;
}

.category-status input[type='checkbox']:checked + label::before {
    content: '\002714';
    background-color: #eb7700;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.category-banner {
    background-image: url(/img/sidebarbanner.jpg);
    width: 255px;
    height: 600px;
}

.category-menushow ul li {
    list-style: none;
    display: inline-block;
}

.category-menushow {
    display: flex;
    justify-content: space-between;
    margin-right: 10px;
    margin-left: 28px;
}

.menushow-text__showing {
    font-size: 13px;
}

.bi-grid {
    margin-right: 10px;
}

.bi-list-ul {
    margin-right: 10px;
    padding-right: 15px;
    border-right: 1px solid #bfbfbf;
}

.bi-chevron-down {
    padding-left: 10px;
}

.sanpham {
    margin-top: 35px;
    width: 210px;
    height: 375px;
    margin-left: 28px;
}

.sanpham-image img {
    width: 205px;
    height: 235px;
}

.category-sanphamshow {
    display: flex;
    flex-wrap: wrap;
}

.sanpham-name a {
    text-decoration: none;
    color: #000;
    font-size: 15px;
    font-weight: 600;
}

.sanpham-nameprice {
    margin-top: 10px;
}

.sanpham-nameprice h4 {
    margin-top: 10px;
    font-size: 20px;
}

.sanpham-nameprice h4 del {
    color: #bfbfbf;
    margin-left: 10px;
    font-size: 15px;
}

.sanpham-addcart a {
    text-decoration: none;
    color: #000;
    font-weight: 600;
}

.sanpham-addcart {
    margin-top: 20px;
    border: 1px solid #000;
    width: 100px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    background-color: #fff;
}

.sanpham-addcart:hover .sanpham-addcart a {
    background-color: #eb7700;
}

.end{
    height: 168px;
    width: 100%;
    margin-top:50px;
}

.end .ptuend{
    height: 168px;
    width: 1260px;
    padding: 15px;
    margin-left: 115px;
    border-top: solid 1px;
    border-color: rgb(229, 229, 229);
    display: flex;
}

.end .ptuend .icon1{
    font-size: 56px;
    height: 56px;
    width: 86px;
    margin-right: 20px;
    margin-top: 50px;
}

.end .ptuend .tieudeicon1 {
    width: 230px;
    height: 67px;
    margin-top: 60px;
    margin-bottom: 60px;
}

.end .ptuend .tieudeicon1 h4{
    margin-bottom: 8px;
    font-size: 18px;
    font-weight: 600;
    line-height: 21px;
    color: black;
}

.end .ptuend .tieudeicon1 p{
    margin-bottom: 16px;
    font-size: 13px;
    color: rgb(138, 139, 142);
    line-height: 21px;
    font-weight: 400;
}

.end .ptuend .icon2{
    font-size: 56px;
    height: 56px;
    width: 86px;
    margin-right: 20px;
    margin-top: 50px;
    margin-left: 115px;
}

.end .ptuend .tieudeicon2 {
    width: 230px;
    height: 67px;
    margin-top: 60px;
    margin-bottom: 60px;
}

.end .ptuend .tieudeicon2 h4{
    margin-bottom: 8px;
    font-size: 18px;
    font-weight: 600;
    line-height: 21px;
    color: black;
}

.end .ptuend .tieudeicon2 p {
    margin-bottom: 16px;
    font-size: 13px;
    color: rgb(138, 139, 142);
    line-height: 21px;
    font-weight: 400;
}

.end .ptuend .icon3{
    font-size: 56px;
    height: 56px;
    width: 86px;
    margin-right: 20px;
    margin-top: 50px;
    margin-left: 115px;
}

.end .ptuend .tieudeicon3 {
    width: 230px;
    height: 67px;
    margin-top: 60px;
    margin-bottom: 60px;
}

.end .ptuend .tieudeicon3 h4{
    margin-bottom: 8px;
    font-size: 18px;
    font-weight: 600;
    line-height: 21px;
    color: black;
}

.end .ptuend .tieudeicon3 p {
    margin-bottom: 16px;
    font-size: 13px;
    color: rgb(138, 139, 142);
    line-height: 21px;
    font-weight: 400;
}

.backend1{
    width: 100%;
    height: 326px;
    background-color: rgb(250, 248, 244);
    margin-top: 50px;
}

.backend1 .khoi1backend1{
    height: 326px;
    width: 1260px;
    box-sizing: border-box;
    margin-left: 130px;
    display: flex;
}

.backend1 .khoi1backend1 .khoinho1be1{
    height: 166px;
    width: 600px;
    margin-top: 80px;
}

.backend1 .khoi1backend1 .khoinho1be1 h4{
    font-size: 16px;
    font-weight: 600;
    line-height: 19.2px;
    color: rgb(235, 119, 0);
    margin-bottom: 15px;
}

.backend1 .khoi1backend1 .khoinho1be1 h3{
    color: rgb(0, 0, 0);
    font-size: 32px;
    font-weight: 600px;
    line-height: 38px;
    margin-bottom: 15px;
}

.backend1 .khoi1backend1 .khoinho1be1 p{
    color: rgb(138, 139, 142);
}

.backend1 .khoi1backend1 .khoinho2be1{
    height: 166px;
    width: 510px;
    margin-left: 130px;
    margin-top: 80px;
}

.backend1 .khoi1backend1 .khoinho2be1 .nhapinput{
    display: flex;
}

.backend1 .khoi1backend1 .khoinho2be1 .nhapinput button{
    width: 39px;
    height: 39px;
    font-size: 18px;
    border: 3px solid black;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    cursor: grab;
    background-color: transparent;
}

input[type=email] {
    width: 480px;
    height: 20px;
    padding: 8px 30px 8px 0px;
    border: 3px solid black;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    background-color: transparent;
    font-size: 15px;
    color: rgb(138, 139, 142);
    outline-style: none;

}

.tieudekhoinho2be1{
    font-size: 13px;
    display: flex;
    margin: 15px 0px 16px 0px;
}

.tieudekhoinho2be1 p{
    color: rgb(138, 139, 142);
}

.tieudekhoinho2be1 a{
    text-decoration: none;
    color: black;
    transition-delay: 0.3s;
}

.tieudekhoinho2be1 a:hover{
    color: #eb7700;
}

.backend2{
    height: 122px;
    width: 100%;
}

.khoidinhdang{
    height: 42px;
    width: 1260px;
    display: flex;
    padding: 40px 0px 40px 0px;
    margin-left: 130px;
}

.ptu1backend2{
    line-height: 42px;
    margin-right: 280px;
    font-size: 14px;
    font-weight: 400;
    width: 270px;
}

.ptu2backend2{
    display: flex;
    line-height: 42px;
    font-size: 14.5px;
    font-weight: 400;
}

.backend3{
    width: 100%;
    height: 294px;
}

.ptuchinhbe3{
    width: 1260px;
    height: 194px;
    padding: 50px 0px 50px 0px;
    margin-left: 130px;
    border-top: 1px solid rgb(229, 229, 229);
    display: flex;
}

.ptu1backend3{
    width: 297px;
    height: 194px;
    padding: 0px 12px 0px 12px;
}

.ptu1backend3 h4{
    font-size: 16px;
    color: black;
    font-weight: 600;
    margin-bottom: 25px;
}

.ptu1backend3 p{
    margin-bottom: 16px;
    color:rgb(115, 115, 115);
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.5px;
    line-height: 24px;
}

.ptu1backend3 a{
    text-decoration: none;
    color: rgb(115, 115, 115);
}

.ptu2backend3{
    width: 939px;
    height: 193px;
    padding: 0px 12px 0px 12px;
}

.trongptu2be3{
    margin-left: 100px;
    width: 839px;
    height: 193px;
    display: flex;
}

.khoiptu2be3{
    width: 287px;
    height:193px;
    padding: 0px 12px 0px 12px;
}

.khoiptu2be3 ul li{
    list-style: none;
}

.khoiptu2be3 h4{
    margin-bottom: 25px;
}

.khoiptu2be3 ul li a{
    text-decoration: none;
    color: rgb(115, 115, 115);
    font-size: 14px;
    line-height: 26px;
}

.phancuoi{
    height: 168px;
    width: 100%;
}

.ptuphancuoi{
    height: 168px;
    width: 1260px;
    margin-left: 130px;
    border-top: 1px solid rgb(229, 229, 229);
}

.khoichinhphancuoi{
    width: 1260px;
    height: 43px;
    padding: 44px 0px 80px 0px;
    display: flex;
}

.phancuoi1{
    width: 144px;
    height: 43px;
}

.phancuoi2{
    height: 46px;
    width: 484px;
    margin-left: 40px;
}

.phancuoi2 p{
    font-size: 12px;
    font-weight: 400;
    line-height: 46px;
}

.phancuoi2 ul{
    display: flex;
    font-size: 20px;
}

.phancuoi2 ul li{
    list-style: none;
    margin-left: 10px;
}

.phancuoi2 ul li a{
    color: rgb(115, 115, 115);
}

.phancuoi3{
    height: 46px;
    width: 390px;
    margin-left: 120px;
}

.phancuoi3 ul{
    display: flex;
}

.phancuoi3 ul li{
    list-style: none;
    margin-left: 5px;
}

.phancuoi3 ul li a{
    font-size: 13px;
    color: black;
    text-decoration: none;
    line-height: 46px;
}

.bi-check__blue {
    color: #1e73be;
}

.bi-check__brown {
    color: #49271d;
}

.bi-check__gray {
    color: #bfbfbf;
}

.bi-check__green {
    color: #50b948;
}

.bi-check__orange {
    color: #ff7900;
}
 
.bi-check__red {
    color: #cb2028;
}

.color__black:hover {
    color: #fff;
    font-size: 20px;
    text-align: center;
}

.color__blue:hover .bi-check__blue {
    color: #fff;
    font-size: 20px;
    text-align: center;
}

.color__brown:hover .bi-check__brown {
    color: #fff;
    font-size: 20px;
    text-align: center;
}

.color__gray:hover .bi-check__gray {
    color: #fff;
    font-size: 20px;
    text-align: center;
}

.color__green:hover .bi-check__green {
    color: #fff;
    font-size: 20px;
    text-align: center;
}

.color__orange:hover .bi-check__orange {
    color: #fff;
    font-size: 20px;
    text-align: center;
}

.color__red:hover .bi-check__red {
    color: #fff;
    font-size: 20px;
    text-align: center;
}


